@font-face{
  font-family: "RonduitCapitals-Light";
  src: url(./fonts/RonduitCapitals.otf);
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* LOADING-CIRCLE */
.lds-dual-ring {
 margin: 10% auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 164px;
  height: 164px;
  margin: 40px auto;
  border-radius: 50%;
  border: 12px solid rgb(82, 146, 255);
  border-color: rgb(82, 146, 255) transparent rgb(82, 146, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MAKING CONTAINER A LITTLE BIT WIDER */
.container{
  width: 100% !important;
}

.sidenav-trigger{
  cursor: pointer;
}

/* FIXING SIDENAV LAYER */
.sidenav-overlay{
  z-index: 0 !important;
}

/* NAVBAR */
nav{
  position: fixed;
  z-index: 1;
}

nav ul{
  display: flex !important;
}

.nav-divider{
  border-left: 1px solid rgb(204, 204, 204);
  margin-right: 15px;
}

/* APPLYING SPECIAL FONT FOR THE LOGO */
nav .brand-logo{
  font-family: "RonduitCapitals-Light";
  font-weight: bold;
  margin-left: 10px;
}

/* TEXT COLOR OF THE NAV ELEMENTS */
nav li a, nav li span{
  color: #212121 !important;
}

.sign-in-links{
 border-left: 1px solid !important;
}

/* ADDING SHADOW ON HOVER FOR NAV ELEMENTS */
nav li a:hover{
  background-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  -moz-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
}

.selected-nav{
  background-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  -moz-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
}

/* LOWERING CONTENT UNDER THE FIXED NAV */
.dashboard{
  padding-top: 64px;
  margin-top: 20px !important;
}

/* FIXED CATEGORIES MENU */
.categories,
.admin-panel{
  position: fixed;
}

.categories .collection,
.admin-panel .collection
{
  overflow: visible;
  border: none;
}
.categories .material-icons{
  line-height: 20px !important;
}
span.badge{
  line-height: 20px !important;
}
/* text-color */
.categories a{
  color: black !important;
  border: none !important;
}
.categories a:hover{
  background-color: white !important;
  transform: translateX(10px);
  -webkit-box-shadow: inset 9px -2px 0px -2px rgba(48,124,255,1);
  -moz-box-shadow: inset 9px -2px 0px -2px rgba(48,124,255,1);
  box-shadow: inset 9px -2px 0px -2px rgba(48,124,255,1);
}

/* CARDS */
/* MARGIN BETWEEN CARDS */
.card{
  margin-bottom: 40px !important;
}
/* HEADER */
.card-content h5{
  margin: 0 0 5px 5px !important;
}
/* AUTHOR */
.card-content p:nth-child(2){
  margin-left: 10px !important;
  font-style: italic !important;
  text-align: right;
}
/* MOVING TEXTCONTENT LITTLEBIT TO THE RIGHT FROM THE IMG */
.card-content p:nth-child(3){
  margin-left: 5px !important;
}
.card-content{
  padding: 5px !important;
}
/* Link to the article details and timestamp*/
.card-action{
  max-height: 35px;
  padding: 5px 5px !important;
  margin-top: 10px;
}
.time{
  padding-right: 0 !important;
}
.time span{
  font-style: italic;
}
.time i{
  margin-right: 5px !important;
}
/* Fixing "читать далее" on smaller screens */
.read{
  padding-left: 0 !important;
}
.card-action a{
  font-size: 1rem !important;
  margin-right: 0 !important;
  color: rgb(0, 0, 0) !important;
}
.read a:hover{
  color: rgb(82, 146, 255) !important;
}
/* DEFORMING IMG WHEN CHANING SIZE OF THE SCREEN */
.card.horizontal .card-image{
  max-width: 30% !important;
  max-height: max-content;
  overflow: hidden;
}
.main-article .card-image{
  height: 250px !important;
}
.main-article img{
  width: 100%;
  height: 100%;
}
.card-image img{
  width: 100% !important;
  height: 100%;
  object-fit:cover;
}

/* STYLING FORMS */
.login-form{
  width: 40% !important;
  margin: 40px auto !important;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.login-form button{
  margin-top: 20px;
}
/* ------INPUT FILEDS------ */
/* label underline focus color */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid rgb(63, 156, 255) !important;
  box-shadow: 0 1px 0 0 rgb(63, 156, 255) !important;
}
/* label focus color */
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label
{
  color:  rgb(63, 156, 255) !important; 
  
}
.input-field .prefix.active{
  color: rgb(63, 156, 255) !important;
}
/* FIXING BUG WITH LABELS GOING OUT OF THE SCREEN */
input[type=text]:not(.browser-default).validate+label,
input[type=email]:not(.browser-default).validate+label,
input[type=password]:not(.browser-default).validate+label{
  width: 70% !important;
}

#img_link{
  cursor: text !important;
}

.forever-hidden{
  display: none !important;
}

/* FOOTER */
footer{
  -webkit-box-shadow: 0px -6px 0px 0px rgba(105,178,255,1);
  -moz-box-shadow: 0px -6px 0px 0px rgba(105,178,255,1);
  box-shadow: 0px -6px 0px 0px rgba(105,178,255,1);
}
.contacts p{
  margin: 7px 0 !important;
}
.social-list a{
  display: inline-block;
  margin-right: 20px;
  font-size: 30px !important;
  color: white;
}
.social-list a:hover{
  color: rgb(72, 160, 255);
  transform: scale(1.3);
  transition: ease-in-out 0.3s;
}


@media screen and (max-width: 1300px){
  .brand-logo{
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px){

  .dashboard{
    padding-top: 56px;
  }

  .login-form{
    width: 90% !important;
  }

  .time span{
    font-size: 0.9rem !important;
  }

  .dashboard{
    margin-top: 10px !important;
  }

}