/* Importing font for the logo */
@font-face{
  font-family: "RonduitCapitals-Light";
  src: url(./fonts/RonduitCapitals.otf);
}

/* Making sticky footer */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(./components/assets/bg.jpg) no-repeat; 
  background-size: cover;
  background-attachment: fixed;
}
main {
  flex: 1 0 auto;
}

/* Making youtube video responsive */
[data-jodit_iframe_wrapper]:after {
  content: none !important;
}

/* Loading animation */
.preloader-wrapper.big {
  width: 160px !important;
  height: 160px !important;
  margin-top: 10%;
}

/* Windenning a container class */
.container{
  width: 100% !important;
}

/* Pointer for side navicon */
.sidenav-trigger{
  cursor: pointer;
  margin-right: 3px !important;
}

/* Fixing sidenav layer */
.sidenav-overlay{
  z-index: 0 !important;
}

.sidenav{
  background: #37474f !important;
  display: flex;
  flex-direction: column;
  width: 50% !important;
}

.sidenav .links{
  padding-left: 20px;
}

.sidenav .links a{
  padding: 0;
  color: white !important;
}
.sidenav .links i,
.sidenav .links span{
  color: white !important;
}


/* NAVBAR */
/* Sticky nav bar */
nav{
  position: fixed;
  z-index: 1;
}
/* Applying special font for the logo */
nav .brand-logo{
  font-family: "RonduitCapitals-Light";
  font-weight: bold;
  margin-left: 10px;
}
/* Aligning nav buttons */
nav ul{
  display: flex !important;
}
/* Text color of nav buttons */
nav li a, nav li span{
  color: #212121 !important;
}
/* Styling for nav divider */
.nav-divider{
  border-bottom: 1px solid rgb(204, 204, 204);
}
/* Giving border color to the menu links buttons */
.nav-wrapper li a:hover{
  /* background-color: rgb(255, 255, 255) !important; */
  -webkit-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  -moz-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
}
/* Giving border color to the selected links buttons */
.nav-wrapper .selected-nav{
  background-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  -moz-box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
  box-shadow: inset 0px -8px 0px -2px rgb(82, 146, 255);
}
/* Mobile menu */
.links ul{
  flex-direction: column;
}

/* DASHBOARD */
/* Lowering all content under the fixed nav */
.dashboard{
  padding-top: 64px;
  margin-top: 20px !important;
}

/* Sticky categories menu */
.categories{
  background: #37474f ;
  width: 300px;
}
.categories,
.admin-panel{
  position: fixed;
}
/* Removing all borders */
.categories .collection,
.sidenav .collection,
.admin-panel .collection
{
  overflow: visible;
  border: none ;
}
.admin-panel{
  margin-top: 400px;
}
.admin-panel .collection a{
  background: transparent;
}

/* Text-color */
.categories h6{
  margin: 10px 10px;
  padding: 10px 10px;
  border-bottom: solid 1px white;
  font-weight: bold;
}

.sidenav .collection a,
.categories a{
  border: none !important;
  background: #37474f  !important;
  color: white !important;
  width: fit-content;
  display: flex !important;
  flex-direction: column !important;
  transition-duration: .3s;
  cursor: pointer;
}
/* Animation on hover */
.categories a:hover{
  background-color: #37474f !important;
  transform: translateX(10px);
  transition-duration: .3s;
  -webkit-box-shadow: inset 9px -2px 0px -2px rgba(48,124,255,1);
  -moz-box-shadow: inset 9px -2px 0px -2px rgba(48,124,255,1);
  box-shadow: inset 9px -2px 0px -2px rgba(48,124,255,1);
}

.carousel{
  height: 400px !important;
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
  display: flex !important;
}
.carousel-item{
  display: flex;
  align-items: flex-end;
}

.carousel-item:hover img{
  transform: scale(1.1);
  transition-duration: .5s;
}

.carousel img{
  object-fit: cover;
  height: 100%;
  display: flex;
  position: absolute;
  transition-duration: .5s;
}

.carousel .news-info{
  background-color: #212121de;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 3px 10px;
}

/* CARDS */
/* Margin beetwen cads */
.card{
  margin-bottom: 20px !important;
}
/* Article title */
.card-content h6{
  margin: 0 0 5px 5px !important;
  font-weight: bold;
}
/* Removing default blue link color */
.card-content a{
  color: inherit;
}
/* Adding blue color on hover */
.card-content a:hover{
  color: rgba(48,124,255,1);
}
/* Author */
.card-content p:nth-child(2){
  margin-left: 10px !important;
  font-style: italic !important;
  text-align: right;
}
/* Moving text to right from the image */
.card-content p:nth-child(3){
  margin-left: 5px !important;
}
/* Making padding inside the card smaller */
.card-content{
  padding: 5px !important;
}
/* Link to the article details and timestamp*/
.card-action{
  max-height: 35px;
  padding: 5px 5px !important;
  margin-top: 10px;
}
.time{
  padding-right: 0 !important;
}
.time span{
  font-style: italic;
}
.time i{
  margin-right: 5px !important;
}
/* Fixing "читать далее" on smaller screens */
.read{
  padding-left: 0 !important;
}
.card-action a{
  font-size: 1rem !important;
  margin-right: 0 !important;
  color: rgb(0, 0, 0) !important;
}
.read a:hover{
  color: rgb(82, 146, 255) !important;
}
/* DEFORMING IMG WHEN CHANING SIZE OF THE SCREEN */
.card.horizontal .card-image{
  max-width: 30% !important;
  max-height: max-content;
  overflow: hidden;
}
.main-article .card-image{
  height: 250px !important;
}
.main-article img{
  width: 100%;
  height: 100%;
}
.card-image img{
  width: 100% !important;
  height: 100% !important;
  object-fit:cover;
}

.page{
  margin-top: 10px;
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.next-btn{
  align-self: flex-end;
}

.prev-btn{
  align-self: flex-start;
}

.page a{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-family: sans-serif;
  color: #333;
  border: 1px solid rgb(54, 64, 73);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  cursor: pointer;
}

.page a span{
  position: relative;
  z-index: 2;
  display: flex;
  align-self: center;
}

.next-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(48,124,255,1);
  transition: all .35s;
}

.prev-btn:after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: rgba(48,124,255,1);
  transition: all .35s;
}

.page a:hover{
  color: #fff;
}

.page a:hover:after{
  width: 100%;
}

.page a:focus{
  background-color: transparent;
}


/* STYLING FORMS */
.login-form{
  width: 40% !important;
  margin: 40px auto !important;
  padding: 20px;
}
.login-form button{
  margin-top: 20px;
}

/* ------INPUT FILEDS------ */
/* label underline focus color */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus,
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid rgb(63, 156, 255) !important;
  box-shadow: 0 1px 0 0 rgb(63, 156, 255) !important;
}
/* label focus color */
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label
{
  color:  rgb(63, 156, 255) !important; 
  
}
.input-field .prefix.active{
  color: rgb(63, 156, 255) !important;
}
/* FIXING BUG WITH LABELS GOING OUT OF THE SCREEN */
input[type=text]:not(.browser-default).validate+label,
input[type=email]:not(.browser-default).validate+label,
input[type=password]:not(.browser-default).validate+label{
  width: 70% !important;
}

/* CREATE ARTICLE PAGE */
/* Removing file name field */
.file-field .file-path-wrapper{
  width: 0 !important;
}
/* Title img positioning and styling */
.title-img-container{
  display: grid;
  overflow: hidden;
  max-height: 300px;
  -webkit-box-shadow: 6px 6px 5px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 5px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 5px -5px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin-bottom: 40px;
}
/* Centering img inside container */
.title-img-container img{
  position: relative;
  width: 100%;
}
.add-photo{
  position: fixed !important;
  margin-top: 15% !important;
}

/* ARTICLE PAGE */
.article-details{
    -webkit-box-shadow: 3px 0px 0px -1px rgba(89,183,255,0.53);
  -moz-box-shadow: 3px 0px 0px -1px rgba(89,183,255,0.53);
  box-shadow: 3px 0px 0px -1px rgba(89,183,255,0.53);
}
.article-details h5{
  font-weight: bold;
}
.article-details .article-divider{
  border-bottom: 1px solid rgb(212, 212, 212);
  margin: 10px 0;
}
.article-details .article-info{
margin-bottom: 10px !important;
}

.article-details img{
  display: flex;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  border-radius: 3px;
}

.title-photo{
  width: 100% !important;
}

iframe{
  position: relative !important;
  display: flex !important;
  width: 100% !important;
}

.news-list{
  list-style-type: disc !important;
  margin-left: 20px;
}
.news-list li:hover{
  transform: translateX(10px);
  transition: ease;
  transition-duration: 0.5s;
}

.edit_icon{
  position: absolute !important;
  z-index: 3;
  margin: 5px
}
.edit_icon:hover{
  background-color: red !important;
  transform: scale(1.2);
}


.forever-hidden{
  display: none !important;
}

/* FOOTER */
footer{
  -webkit-box-shadow: 0px -6px 0px 0px rgba(105,178,255,1);
  -moz-box-shadow: 0px -6px 0px 0px rgba(105,178,255,1);
  box-shadow: 0px -6px 0px 0px rgba(105,178,255,1);
}
footer .row{
  margin-bottom: 10px !important;
}
.contacts p{
  margin: 7px 0 !important;
}
.social-list a{
  display: inline-block;
  margin-right: 20px;
  font-size: 30px !important;
  color: white;
}
.social-list a:hover{
  color: rgb(72, 160, 255);
  transform: scale(1.3);
  transition: ease-in-out 0.3s;
}
footer, .footer-copyright{
  padding: 0 !important;
}
.footer-copyright{
  min-height: 30px !important;
}
.myLogo{
  max-height: 17px;
  position: absolute;
  margin: 3px -25px;
}

@media screen and (max-width: 1300px){
  .brand-logo{
    margin-left: 20px;
  }
}

@media screen and (max-width: 750px){
  .card.horizontal{
    display: inline-block !important;
  }
  .card.horizontal .card-image{
    max-height: 250px;
    max-width: none !important;
  }

  .carousel{
    height: 200px !important;
  }

  .carousel .carousel-item{
    align-items : flex-start;
  }

  .carousel .news-info{
    height: 75px;
    justify-content: center;
  }

  .carousel h6{
    margin: 0;
  }
}

@media screen and (max-width: 600px){

  .dashboard{
    padding-top: 56px;
  }

  .login-form{
    width: 90% !important;
  }

  .card{
    line-height: 1.2 !important;
  }

  .card .card-image,
  .card.horizontal .card-image{
    max-height: 150px;
  }

  .card-action .row{
    margin-bottom: 0;
  }
  
  .time i, .read i{
    font-size: 1.2rem !important;
  }
  .time span, .read span{
    font-size: 0.8rem !important;
  }

  .dashboard{
    margin-top: 10px !important;
  }
}